.nf-tooltip {
  cursor: pointer;
  &__icon {
    margin-right: .3125rem;
    vertical-align: middle;
    height: 100%;
  }

  @media print {
    &, & * {
      visibility: hidden;
    }
  }
}

@media print {
  .tooltip, .tooltip * {
    display: none;
  }
}